# SPDX-FileCopyrightText: Copyright (c) 2026, NVIDIA CORPORATION & AFFILIATES.
# All rights reserved.
# SPDX-License-Identifier: Apache-2.0

registry=https://registry.npmjs.org/
@kui:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-unified-npm-proxy/
@kui-contrib:registry=https://urm.nvidia.com/artifactory/api/npm/sw-ngc-unified-npm-proxy/
