# SPDX-FileCopyrightText: Copyright (c) 2026, NVIDIA CORPORATION & AFFILIATES.
# All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.venv
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
tests
